html {
	margin: 0;
	padding: 0;
	background: #fefff0;
	line-height: 1.7;
	font-size: 1.075rem;
	font-family: "Cormorant", serif;
}
body {
	height: 100vh;
	max-height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	a { color: inherit; }
	h2 { font-weight: 600; }
	p, li { margin: .25rem 0 .25rem; }
}

// Mise en page
header,
#banner {
	a {
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
	h1 {
		margin: .5rem 0;
		font-size: 1.5rem;
	}
	text-align: center;
	color: #fefff0;
}
header { background: #3c302c; }
#banner { background: #2b2220; }
main {
	section ul {
		margin: .25rem 0 .25rem;
		list-style: none;
		padding-left: 0;
	}
	h1,
	h2 { margin: .5rem 0 0; }
	p { margin-top: 0; }
}
.btn {
	background: #3c302c;
	color: white;
	font-family: "Inter", sans-serif;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 12px;
	font-size: .8rem;
	font-weight: 700;
	line-height: 15px;
}
main,
footer {
	display: flex;
	max-width: 60ch;
	width: 100%;
	margin: 1rem auto 0;
	flex-direction: column;
	justify-content: space-between;
}

// Cartes
#cafe,
#pas-tres-cafe,
#sale-ou-sucre {
	text-align: center;
	font-size: 1.5rem;
}
.groupe {
	display: flex;
	flex-direction: row;
}
.article {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: .5rem auto;
	border-radius: 8px;
	padding: 16px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	p {
		font-family: "Inter", sans-serif;
		font-size: .8rem;
	}
	.titre {
		font-weight: 700;
		font-size: 1rem;
		font-family: serif;
	}
}
.article.lg,
.article.xs { width: 85%; }
.article.sm {
	max-width: 35%;
	width: 100%;
}
.article.xs {
	flex-direction: row;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	padding: 16px;
	.titre {
		font-size: 24px;
		margin: 0;
	}
}
#ordernow {
	background: #231F20;
	color: #fff;
}
#holidays, #coffee, #principal {
	background: #000;
	align-items: flex-start;
	color: #fff;
}
#holidays { background-image: url("https://lawson.cafe/img/holidays.jpg");;}
#coffee { background-image: url("https://lawson.cafe/img/coffee.jpg"); }
#principal { background-image: url("https://lawson.cafe/img/principal.jpg");}

