{{ define "main" }}

<section class="article xs" id="ordernow">
  <p class="titre">Bienvenue à Lawson's Cafe</p>
	<a href="/menu" class="btn">Menu →</a>
</section>
<section class="article lg" id="holidays">
  <p class="titre">Holiday collection</p>
  <p>De nouvelles tasses Lawson en édition limitée seront disponibles sur demande.</p>
	<a href="#" aria-disabled="true" class="btn">Coming soon</a>
</section>
<section class="article lg" id="coffee">
  <p class="titre">Présentation: Café à la pulpe</p>
  <p>Avec le goût délicieux de la terra sous vous, vous êtes maintenant en mesure de commander des motifs directement dans le café. Nous l'appelons: Café à la pulpe.</p>
	<a href="/menu" class="btn">Achetez maintenant →</a>
</section>
<section class="article lg" id="principal">
  <p class="titre">Née principale, maintenant Barista.</p>
  <p>Apprenez l'histoire héroïque de Matthew Lawson qui est devenu le plus grand barman du monde en moins d'un an.</p>
	<a href="/a-propos" class="btn">En savoir plus →</a>
</section>

{{ end }}
