{{ define "main" }}

<section class="article xs" id="ordernow">
  <p class="titre">Order now</p>
	<a href="#" class="btn">Menu →</a>
</section>
<section class="article lg" id="gamerjuice">
  <p class="titre">Holiday collection</p>
  <p>New limited-edition Lawson mugs are going to be available upon request.</p>
	<a href="#" class="btn">Learn more →</a>
</section>
<section class="article lg" id="crack">
  <p class="titre">Introducing: Pulp Coffee</p>
  <p>With the delicious taste of the ground beneath you, you're now able to order grounds straight in the coffee. We call it: Pulp Coffee.</p>
	<a href="#" class="btn">Order now →</a>
</section>
<section class="article lg" id="cum">
  <p class="titre">Nee principal, Now Barista.</p>
  <p>Learn the heroic story behind how Matthew Lawson became the world's greatest barista in under a year.</p>
	<a href="#" class="btn">Learn more →</a>
</section>

{{ end }}
